body{
    /* background-color: black;
    background-image: url(img/bakD.PNG); */
    background: url(img/bakD.PNG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* 1 */
#topBoxContainer{
    background-image:url(img/milky.PNG) ;
    margin: auto;
    width: 610px;
    height: 100px;
    border: 6px solid rgb(230, 16, 176);
    /* padding: 30px; */

    border-radius: 10px 10px 0px 0px;
}
#score{
    background-image:url(img/milky.PNG) ;
    margin: auto;
    margin-top: 20px;
    margin-left: 50px;
    width: 250px;
    height: 30px;
    border: 5px solid rgb(238, 231, 231);
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
    color: rgb(65,255,0);
    float: left;
    text-align: right;
    position: absolute;
    
}
#reac{
    background-image:url(img/milky.PNG) ;
    margin: auto;
    margin-top: 20px;
    margin-right: 10px;
    width: 200px;
    height: 30px;
    border: 5px solid rgb(238, 231, 231);
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
    color: rgb(65,255,0);
    float: right;
    text-align: right;
}

#clrD{
    margin-top: 15px;
    position: relative;
    z-index:2;
    float: left;
    padding-bottom: 10px;

}
#clrD1{
    position: relative;
    z-index:2;
    margin-top: 2px;
    float: left;
    padding-bottom: 0px;
    left: 230px;
    /* clear: float; */
}
/* #clrD1{
    position: relative;
    z-index:2;
    margin-top: 15px;
    float: left;
    padding-bottom: 0px;
    left: 230px;
} */
/* 2 */
#imgBoxContainer{
    background-image:url(img/milky.PNG) ;
    margin: auto;
    width: 550px;
    border: 6px solid rgb(145, 10, 223);
    padding: 30px;
    border-radius: 0px;
}

#wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);  
}

.pics{
    background-color:white;
    height: 170px;
    width: 170px;
    border-radius: 30px;
    text-align: center;
}

.img{
    height: 100%;
    width: 100%;
}
/* 3 */
#guessBoxContainer{
    background-image:url(img/milky.PNG) ;
    margin: auto;
    width: 610px;
    height: 160px;
    border: 6px solid rgb(13, 226, 216);
    /* padding: 30px; */
    border-radius: 0px 0px 10px 10px;
}
.inline{
    display:inline-block;
    margin-top: 20px;
    padding:4px;
}
#btn{
    margin-left: 30px;
}

.answerButton{
    background-image: url(img/btn.PNG);
    margin:auto;
    height:100px;
    width:170px;
    color: rgb(133, 11, 133);
    font-size: 30px;
}

.playButton{
    width: 610px;
    height: 160px;
    background-image: url(img/Dmd.gif),url(img/milky.PNG);
    background-size: 155px, 155px;
    font-size: 70px;
    color: rgb(133, 11, 133);
}
/* .inline{
    display:inline-block;
    margin-right:5px;
}

.answerButton{
    background-image: url(img/btn.PNG);
    margin:auto;
    height:100px;
    width:170px;
    color: rgb(133, 11, 133);
    font-size: 30px;  
} */
